<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Live Position Tracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div id="mapa"></div>

  <ion-button expand="block" (click)="onStartWatching()" [disabled]="isWatching">
    Start Watching
  </ion-button>

  <ion-button expand="block" color="danger" (click)="onStopWatching()" [disabled]="!isWatching">
    Stop Watching
  </ion-button>

  <div class="coords-display">
    <p>Latitude: <strong>{{ latitude }}</strong></p>
    <p>Longitude: <strong>{{ longitude }}</strong></p>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-title style="font-size: 0.9rem;">
      Start: Lat {{ latitude }}, Lng {{ longitude }}
    </ion-title>
  </ion-toolbar>
</ion-footer>

<ion-alert
  [isOpen]="isMyAlertOpen"
  [header]="myHeader"
  [message]="myMessage"
  [buttons]="alertButtons"
  (didDismiss)="isMyAlertOpen = false">
</ion-alert>
